<!-- restaurant -->
<tr><td>&nbsp;</td></tr>
<tr><td><table class="b">
    <tr>
        <td class="b_b r_b"> <strong>{{name}}</strong> </td>
        <td class="b_b r_b"> <span>{{address}}, {{postal_code}}</span> </td>
        <td class="b_b r_b"> <span>phone1: {{phone1}}</span> </td>
        <td class="b_b"> <span>phone2: {{phone2}}</span> </td>
    </tr>
    <tr>
        <td class="b_b r_b"> <span>url: <a href="{{url}}">{{url}}</a></span> </td>
        <td class="b_b r_b"> <span>email: {{email}}</span> </td>
        <td colspan="2" class="b_b"> <span>neighborhood: {{neighborhood}}</span> </td>
    </tr>
    <tr>
        <td colspan="2" class="r_b"> <span>owner: {{owner}}</span> </td>
        <td colspan="2" class="c_a">
            <span style="cursor:pointer; color:blue;"
                title=" district: {{district}}
 region: {{region}}
 locality: {{locality}}
 country_name: {{country_name}}
 latitude: {{latitude}}
 longitude: {{longitude}}">
            extra info</span>
        </td>
    </tr>
    <tr><td class="b_b" colspan="4"></td></tr>
<!-- end of restaurant -->
