<!-- station -->
<tr><td colspan="4"><table class="b" style="width:100%;">
<td><table style="width:100%;">
<tr>
    <td class="r_b" style="width:120px;" title="id:{{id}}"> <span> {{street}}, {{streetNumber}} </span> </td>
    <td class="r_b c_a"><span> status: {{status}}</span></td>
    <td class="r_b c_a"><span> distance: {{distance}}m, height: {{height}}</span></td>
    <td class="r_b c_a" colspan="2"><span> bikes: {{bikes}}</span></td>
    <td class="r_b c_a"> <span>slots: {{slots}}</span></td>
    <td class="c_a">
        <span style="cursor:pointer; color:blue;" title="lat: {{lat}}, long: {{long}}">extra info</span>
    </td>
</table></td>
</table>
</td></tr>
<!-- end of station -->
